/* .rblockh {

  border-radius: 50px;
  
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
aspect-ratio: 1/1;
  width: clamp(300px, 40vw, 400px);
} */
.LandingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}


.guestBtn{
  font-family: var(--mont);
  border-radius: 50px;
  border: none;
   box-shadow: 2px 2px 6px #6e6e6e, -2px -2px 6px #ededed;
   height: 35px;
   width: clamp(200px, 10vw, 80px);
   /* padding: 30px clamp(10px,10vw, 50px); */
   font-size: clamp(5px, 10vw, 13px);
   margin: 10px;

}
.guestBtn:hover{
  transition: 0.2s;
  box-shadow: 2px 2px 6px #f3f3f3, -2px -2px 6px #f3f3f3;
}