.filters-dropdown{
    border: 1px solid rgba(128, 128, 128, 0.62);
    padding: 5px 10px;
    width: clamp(100px, 10vw, 200px);
    display: flex;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
   
}
.Filters{
    top: 55px;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: end;
    right: clamp(10px, 10vw, 20px);
    margin-bottom: 10px;
}
.no-border{
    border-radius: 0;
}
.filter-options-h{
    position: relative;
    display: flex;
    visibility: collapse;
}
.display-filters{
    transition: 0.2s;
visibility: visible;
}

.multiselect-drop{
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: collapse;
    background-color: rgb(242, 242, 242);
    top: 40px;
    left: -50px;
    z-index: 100;
}
.display-categories{
    visibility: visible;
}
.category-item-h{
   cursor: pointer;
    font-size: clamp(15px, 95%, 10px);
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 100;
    height: 50px;
    border-radius: 3px;
    padding: 5px;
    width:  clamp(150px, 10vw, 250px);;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.603);
}
.category-item-h:hover{
    background-color: grey;
}
.category-item-h > label{
    background-color: transparent;
    margin-left: 3px;
}

.price-range-h{
    display: flex;
    right: -40px;
    justify-content: center;
    /* flex-wrap: wrap; */
    position: absolute;
    top:40px
}
.price-range-h>input{
    border:none;
    border-radius: 4px;
    margin-left: 2px;
    border-bottom: 1px solid black;
    background-color: white;
    width: 50px;
    outline: none;
    height: 30px;
    font-size: smaller;
    padding-left: 5px;
    padding-right: 2px;
}
.price-set-btn{
    text-align: center;
    color: white;
    margin-left: 2px;
    border: none;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: clamp(30px, 10vw, 45px);
}